#none directory
.ipynb_checkpoints/
__pycache__/
logfile/
modules/
.metadata/
.settings/
logfile/
build/
dist/
.venv/
instance/

#none file
.env
*.ini
*.bak
*.json
*.code-workspace
*.project
*.spec
*.code-workspace
*.log
