<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>売上情報</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="header-fixed">

        <h1>売上情報集計表</h1>
        <div class="radio-group">
        <p> 販売管理システムより取得したCSVファイル 
            <button onclick="uploadFile()", data-id="sales">売上情報の読み込み</button>
            <button onclick="updateCourseInfo()", data-id="course">コース情報更新</button>
        </p>
       
            <input type="radio" id="chainStore" name="viewType" value="chainStore" checked onchange="changeViewType()">
            <label for="chainStore">チェーン店別集計</label>
            <input type="radio" id="byCourse" name="viewType" value="byCourse" onchange="changeViewType()">
            <label for="byCourse">コース別集計</label>
            <input type="radio" id="byItems" name="viewType" value="byItems" onchange="changeViewType()">
            <label for="byItems">商品別集計</label>

        </div>
    </div>

    <div class="table-container scroll-content">
        <div class="dataTable_sales_view">
            <table id="dataTable_customer_sales" class="display" ></table>
            <div id="labelArea_layer1"></div>
            <table id="dataTable_customer_tenpo" class="display" ></table>
            <div id="labelArea_layer2"></div>
            <table id="dataTable_customer_items" class="display" ></table>
        </div>
        <div class="dataTable_course_view">
            <table id="dataTable_course_sales" class="display" ></table>
            <div id="labelArea_layer1"></div>
            <table id="dataTable_course_tenpo" class="display" ></table>
            <div id="labelArea_layer2"></div>
            <table id="dataTable_course_items" class="display" ></table>
        </div>
        <div class="dataTable_item_view">
            <table id="dataTable_items_sales" class="display" ></table>
            <div id="labelArea_layer1"></div>
            <table id="dataTable_items_customer" class="display" ></table>
            <div id="labelArea_layer2"></div>
            <table id="dataTable_items_tenpo" class="display" ></table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script>


       //* コース情報の更新処理 */
       function updateCourseInfo() {
            //ファイル選択処理を関数内で完結
            const fileInput = document.createElement('input');
            fileInput.type = 'file';
            
            // ファイル選択後の処理
            fileInput.onchange = () => {
                const file = fileInput.files[0];             
                const formData = new FormData();
                formData.append('file', file);
    

                // CSVデータをサーバーに送信
                fetch('/api/coursesinfo', {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'text/csv'
                    },
                    body: file
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert('コース情報の更新に失敗しました: ' + data.error);
                    } else {
                        alert(data.message);
                        // 初期化処理を実行
                        initialize();
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('コース情報の更新に失敗しました: ' + error);
                });
            };
            
            // ファイル選択ダイアログを表示
            fileInput.click();
        }


        //* 初期化処理 */
        function initialize(){
            
            // ラベルをクリア
            document.getElementById('labelArea_layer1').innerHTML = '';
            document.getElementById('labelArea_layer2').innerHTML = '';
            
            // テーブルをクリア＆ヘッダーも削除
            const tableIds = [
                '#dataTable_course_sales',
                '#dataTable_course_tenpo',
                '#dataTable_course_items',
                '#dataTable_customer_sales',
                '#dataTable_customer_tenpo',
                '#dataTable_customer_items',
                '#dataTable_items_sales',
                '#dataTable_items_customer',
                '#dataTable_items_tenpo'
            ];
            tableIds.forEach(id => {
                if ($.fn.DataTable.isDataTable(id)) {
                    $(id).DataTable().clear().destroy();
                }
                // テーブルの中身を空にする（ヘッダーも消す）
                $(id).empty();
            });
        }
        
        //* コース情報と取引先ビューの切り替え */
        function changeViewType(){
            if (document.getElementById('chainStore').checked) {
                document.querySelector('.dataTable_sales_view').style.display = 'block';
                document.querySelector('.dataTable_course_view').style.display = 'none';
                document.querySelector('.dataTable_item_view').style.display = 'none';

                if (!$.fn.DataTable.isDataTable('#dataTable_customer_sales')) {
                    fetch(`/api/check_data`,{
                        method: 'GET',
                    })
                    .then(async response => {   
                        if (response.ok) {
                            createview_customer();
                        }  
                    })
                }    

            } else if (document.getElementById('byCourse').checked) {
                document.querySelector('.dataTable_sales_view').style.display = 'none';
                document.querySelector('.dataTable_course_view').style.display = 'block';
                document.querySelector('.dataTable_item_view').style.display = 'none';

                if (!$.fn.DataTable.isDataTable('#dataTable_course_sales')) {
                    fetch(`/api/check_data`,{
                        method: 'GET',
                    })
                    .then(async response => {   
                        if (response.ok) {
                            createview_course();
                        }  
                    })
                }                                

            }else if (document.getElementById('byItems').checked) {
                document.querySelector('.dataTable_sales_view').style.display = 'none';
                document.querySelector('.dataTable_course_view').style.display = 'none';
                document.querySelector('.dataTable_item_view').style.display = 'block';

                if (!$.fn.DataTable.isDataTable('#dataTable_items_sales')) {

                    fetch(`/api/check_data`,{
                    method: 'GET',
                    })
                    .then(async response => {   
                        if (response.ok) {
                            createview_items_items();
                        }  
                    })                        
                }                

            }
        }

       
        //* 売上情報を取得処理 */
        async function uploadFile() {
            
            //ファイル選択処理を関数内で完結
            const fileInput = document.createElement('input');
            fileInput.type = 'file';
            
            // ファイル選択後の処理
            fileInput.onchange = () => {
                const file = fileInput.files[0];
                const formData = new FormData();
                formData.append('file', file);

                fetch("/api/sales", {
                    method: 'POST',
                    body: formData
                })
                .then(async response => {
                    const data = await response.json();
                if (response.ok) {
                    console.log(data.message);
                    initialize();   
                    changeViewType();

                } else {
                    alert(data.error);
                }
                })
                .catch(err => alert("データ読み込みに失敗しました。:", err)); 

            };            
            // ファイル選択ダイアログを表示
            fileInput.click();
        }

        

        //取引先別売上　-＞　店舗別　-＞　商品別

        //* 売上情報を取得処理 */
        function createview_customer(){

            document.getElementById('labelArea_layer1').innerHTML = '';

            fetch("/api/sales", {
                method: 'GET',
            })  
            .then(async response => {
                const data = await response.json();
                if (!response.ok) {
                    alert(data.error);
                }
                return data;
            })
            .then(data => {
                const table = $('#dataTable_customer_sales').DataTable({
                    data: data, // APIから取得したデータを設定
                    columns: [
                        { title: "取引先名", data: "customer_name" },
                        { title: "返品金額", data: "return_amount" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "返品数量", data: "return_quantity" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "純売金額", data: "net_sales_amount" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "純売数量", data: "net_sales_quantity" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "納品金額", data: "delivery_amount" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "納品数量", data: "delivery_quantity" ,render: $.fn.dataTable.render.number(',', '.', 0)}
                    ],
                    scrollY: '400px',
                    scrollX: true,
                    scrollCollapse: true,
                    paging: false
                });
                // イベントリスナーを一度解除してから再登録
                $('#dataTable_customer_sales tbody').off('click').on('click', 'tr', function () {
                    const rowData = table.row(this).data();
                    if (rowData) {
                        createview_store({
                            p_bpcode: rowData["customer_code"],
                            p_bpname: rowData["customer_name"]
                        }); // 選択された取引先名を引数に渡す
                    } else {
                        console.warn("rowDataが取得できませんでした。");
                    }
                });
            })
            .catch(err => alert("売上情報取得失敗:", err)); 
            };

        //* 店舗情報を取得処理 */
        function createview_store({p_bpcode, p_bpname}) {

            document.getElementById('labelArea_layer2').innerHTML = '';
            // コース名とコース担当者名、またはBP名を表示
            let displayLabel = `${p_bpcode} ： ${p_bpname}`;
            document.getElementById("labelArea_layer1").innerHTML = `<label>${displayLabel}</label>`;

            // APIエンドポイントのパラメータを設定
            let queryParam = `bpcode=${p_bpcode}`;
            
            fetch(`/api/stores?${queryParam}`,{
                method: 'GET',
            })
            .then(async response => {
                const data = await response.json();     
                if (!response.ok) {
                    alert(data.error);
                }
                return data;
            })
            .then(data => {
                // DataTableを初期化
                if ($.fn.DataTable.isDataTable('#dataTable_customer_tenpo')) {
                    $('#dataTable_customer_tenpo').DataTable().clear().destroy();
                }
                $('#dataTable_customer_tenpo').empty();

                // DataTableを初期化
                if ($.fn.DataTable.isDataTable('#dataTable_customer_items')) {
                    $('#dataTable_customer_items').DataTable().clear().destroy();
                }
                $('#dataTable_customer_items').empty();

                const table = $('#dataTable_customer_tenpo').DataTable({
                    data: data,
                    columns: [
                        { title: "店舗名", data: "key_and_name"},
                        { title: "返品金額", data: "return_amount" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "返品数量", data: "return_quantity" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "純売金額", data: "net_sales_amount" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "純売数量", data: "net_sales_quantity" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "納品金額", data: "delivery_amount" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "納品数量", data: "delivery_quantity" ,render: $.fn.dataTable.render.number(',', '.', 0)}
                    ],
                    scrollY: '400px',
                    scrollX: true,
                    scrollCollapse: true,
                    paging: false
                });

                // イベントリスナーを一度解除してから再登録
                $('#dataTable_customer_tenpo' + ' tbody').off('click').on('click', 'tr', function () {
                    const rowData = table.row(this).data();
                    if (rowData) {
                        createview_items({
                            p_bpcode: p_bpcode,
                            p_stors_code: rowData["store_code"],
                            p_stors_name: rowData["store_name"]
                        });
                    } else {
                        console.warn("rowDataが取得できませんでした。");
                    }
                });
            })
            .catch(err => alert("店舗情報取得失敗:", err)); 
        }

        //* 商品情報を取得処理 */
        function createview_items({p_bpcode, p_stors_code, p_stors_name}) {

            document.getElementById("labelArea_layer2").innerHTML = `<label>店舗名：${p_stors_name}</label>`;

            // APIエンドポイントのパラメータを設定  
            let queryParam = `bpcode=${p_bpcode}&store_code=${p_stors_code}`;


            fetch(`/api/items?${queryParam}`,{
                method: 'GET',
            })
            .then(async response => {
                const data = await response.json();
                if (!response.ok) {
                    alert(data.error);
                }
                return data;
            })
            .then(data => {
                if ($.fn.DataTable.isDataTable('#dataTable_customer_items')) {
                    $('#dataTable_customer_items').DataTable().clear().destroy();
                }
                $('#dataTable_customer_items').empty();

                const table = $('#dataTable_customer_items').DataTable({
                    data: data, // APIから取得したデータを設定
                    columns: [
                        { title: "商品名", data: "key_and_name"},
                        { title: "返品金額", data: "return_amount" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "返品数量", data: "return_quantity" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "純売金額", data: "net_sales_amount" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "純売数量", data: "net_sales_quantity" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "納品金額", data: "delivery_amount" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "納品数量", data: "delivery_quantity" ,render: $.fn.dataTable.render.number(',', '.', 0)}
                    ],
                    scrollY: '400px',
                    scrollX: true,
                    scrollCollapse: true,
                    paging: false
                });
            })
            .catch(err => alert("商品情報取得失敗:", err)); 
        }



        //コース別売上　-＞　店舗別売上　-＞　商品別売上

        //* コース情報を取得処理 */
        function createview_course(){
            document.getElementById('labelArea_layer1').innerHTML = '';

            fetch(`/api/courses`, {
                method: 'GET',
            })  
            .then(async response => {
                const data = await response.json(); 
                if (!response.ok) {
                    alert(data.error);
                }
                return data;
            })
            .then(data => {
                const table = $('#dataTable_course_sales').DataTable({
                    data: data, // APIから取得したデータを設定
                    columns: [
                        { title: "コース名", data: "course_name" },
                        { title: "担当者名", data: "course_charge"},
                        { title: "返品金額", data: "return_amount" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "返品数量", data: "return_quantity" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "純売金額", data: "net_sales_amount" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "純売数量", data: "net_sales_quantity" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "納品金額", data: "delivery_amount" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "納品数量", data: "delivery_quantity" ,render: $.fn.dataTable.render.number(',', '.', 0)}
                    ],
                    scrollY: '400px',
                    scrollX: true,
                    scrollCollapse: true,
                    paging: false
                });
                // イベントリスナーを一度解除してから再登録
                $('#dataTable_course_sales tbody').off('click').on('click', 'tr', function () {
                    const rowData = table.row(this).data();
                    if (rowData) {
                        const rowData = table.row(this).data();
                        createview_store_course({
                                p_course_name: rowData["course_name"],
                                p_course_person: rowData["course_charge"]}); // 選択されたコース名を引数に渡す
                    } else {
                        console.warn("rowDataが取得できませんでした。");
                    }
                });
            })
            .catch(err => alert("コース情報取得失敗:", err)); 
        };

        //* 店舗情報を取得処理 */
        function createview_store_course({p_course_name, p_course_person}) {

            document.getElementById('labelArea_layer2').innerHTML = '';
            // コース名とコース担当者名、またはBP名を表示
            let displayLabel = `${p_course_name} ： ${p_course_person}`;
            document.getElementById("labelArea_layer1").innerHTML = `<label>${displayLabel}</label>`;

            // APIエンドポイントのパラメータを設定
            let queryParam = `course_name=${p_course_name}`;

            fetch(`/api/stores?${queryParam}`,{
                method: 'GET',
            })
            .then(async response => {
                const data = await response.json();     
                if (!response.ok) {
                    alert(data.error);
                }
                return data;
            })
            .then(data => {
                // DataTableを初期化
                if ($.fn.DataTable.isDataTable('#dataTable_course_tenpo')) {
                    $('#dataTable_course_tenpo').DataTable().clear().destroy();
                }
                $('#dataTable_course_tenpo').empty();

                // DataTableを初期化
                if ($.fn.DataTable.isDataTable('#dataTable_course_items')) {
                    $('#dataTable_course_items').DataTable().clear().destroy();
                }
                $('#dataTable_course_items').empty();

                const table = $('#dataTable_course_tenpo').DataTable({
                    data: data,
                    columns: [
                        { title: "店舗名", data: "key_and_name"},
                        { title: "返品金額", data: "return_amount" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "返品数量", data: "return_quantity" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "純売金額", data: "net_sales_amount" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "純売数量", data: "net_sales_quantity" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "納品金額", data: "delivery_amount" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "納品数量", data: "delivery_quantity" ,render: $.fn.dataTable.render.number(',', '.', 0)}
                    ],
                    scrollY: '400px',
                    scrollX: true,
                    scrollCollapse: true,
                    paging: false
                });

                // イベントリスナーを一度解除してから再登録
                $('#dataTable_course_tenpo' + ' tbody').off('click').on('click', 'tr', function () {
                    const rowData = table.row(this).data();
                    if (rowData) {
                        createview_items_course({
                            p_stors_code: rowData["store_code"],
                            p_stors_name: rowData["store_name"]
                        });
                    } else {
                        console.warn("rowDataが取得できませんでした。");
                    }
                });
            })
            .catch(err => alert("店舗情報取得失敗:", err)); 
            }

            //* 商品情報を取得処理 */
        function createview_items_course({p_stors_code, p_stors_name}) {

            document.getElementById("labelArea_layer2").innerHTML = `<label>店舗名：${p_stors_name}</label>`;

            // APIエンドポイントのパラメータを設定  
            let queryParam = `store_code=${p_stors_code}`;

            fetch(`/api/items?${queryParam}`,{
                method: 'GET',
            })
            .then(async response => {
                const data = await response.json();
                if (!response.ok) {
                    alert(data.error);
                }
                return data;
            })
            .then(data => {
                if ($.fn.DataTable.isDataTable('#dataTable_course_items')) {
                    $('#dataTable_course_items').DataTable().clear().destroy();
                }
                $('#dataTable_course_items').empty();

                const table = $('#dataTable_course_items').DataTable({
                    data: data, // APIから取得したデータを設定
                    columns: [
                        { title: "商品名", data: "key_and_name"},
                        { title: "返品金額", data: "return_amount" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "返品数量", data: "return_quantity" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "純売金額", data: "net_sales_amount" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "純売数量", data: "net_sales_quantity" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "納品金額", data: "delivery_amount" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "納品数量", data: "delivery_quantity" ,render: $.fn.dataTable.render.number(',', '.', 0)}
                    ],
                    scrollY: '400px',
                    scrollX: true,
                    scrollCollapse: true,
                    paging: false
                });
            })
            .catch(err => alert("商品情報取得失敗:", err)); 
        }


        //商品別売上-＞　取引先別売上　-＞　店舗別売上

        //* 商品情報を取得処理 */
        function createview_items_items() {

            document.getElementById('labelArea_layer1').innerHTML = '';

            fetch(`/api/items`,{
                method: 'GET',
            })
            .then(async response => {
                const data = await response.json();
                if (!response.ok) {
                    alert(data.error);
                }
                return data;
            })
            .then(data => {
                const table = $('#dataTable_items_sales').DataTable({
                    data: data, // APIから取得したデータを設定
                    columns: [
                        { title: "商品名", data: "key_and_name"},
                        { title: "返品金額", data: "return_amount" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "返品数量", data: "return_quantity" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "純売金額", data: "net_sales_amount" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "純売数量", data: "net_sales_quantity" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "納品金額", data: "delivery_amount" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "納品数量", data: "delivery_quantity" ,render: $.fn.dataTable.render.number(',', '.', 0)}
                    ],
                    scrollY: '400px',
                    scrollX: true,
                    scrollCollapse: true,
                    paging: false
                });
                            // イベントリスナーを一度解除してから再登録
                $('#dataTable_items_sales tbody').off('click').on('click', 'tr', function () {
                    const rowData = table.row(this).data();
                    if (rowData) {
                        createview_customer_items({
                            p_item_code: rowData["product_code"],
                            p_item_name: rowData["product_name"]
                        }); // 選択された取引先名を引数に渡す
                    } else {
                        console.warn("rowDataが取得できませんでした。");
                    }
                });
            })
            .catch(err => alert("商品情報取得失敗:", err)); 
            }

        //* 売上情報を取得処理 */
        function createview_customer_items({p_item_code, p_item_name}){

            document.getElementById('labelArea_layer2').innerHTML = '';

            let param = `item_code=${p_item_code}`;
            // コース名とコース担当者名、またはBP名を表示
            let displayLabel = `${p_item_code} ： ${p_item_name}`;
            document.getElementById("labelArea_layer1").innerHTML = `<label>${displayLabel}</label>`;

            fetch(`/api/sales?${param}`, {
                method: 'GET',
            })  
            .then(async response => {
                const data = await response.json();
                if (!response.ok) {
                    alert(data.error);
                }
                return data;
            })
            
            .then(data => {
                // DataTableを初期化
                if ($.fn.DataTable.isDataTable('#dataTable_items_customer')) {
                    $('#dataTable_items_customer').DataTable().clear().destroy();
                }
                $('#dataTable_items_customer').empty();

                // DataTableを初期化
                if ($.fn.DataTable.isDataTable('#dataTable_items_tenpo')) {
                    $('#dataTable_items_tenpo').DataTable().clear().destroy();
                }
                $('#dataTable_items_tenpo').empty();
                const table = $('#dataTable_items_customer').DataTable({
                    data: data, // APIから取得したデータを設定
                    columns: [
                        { title: "取引先名", data: "customer_name" },
                        { title: "返品金額", data: "return_amount" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "返品数量", data: "return_quantity" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "純売金額", data: "net_sales_amount" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "純売数量", data: "net_sales_quantity" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "納品金額", data: "delivery_amount" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "納品数量", data: "delivery_quantity" ,render: $.fn.dataTable.render.number(',', '.', 0)}
                    ],
                    scrollY: '400px',
                    scrollX: true,
                    scrollCollapse: true,
                    paging: false
                });
                // イベントリスナーを一度解除してから再登録
                $('#dataTable_items_customer tbody').off('click').on('click', 'tr', function () {
                    const rowData = table.row(this).data();
                    if (rowData) {
                        createview_store_items({
                            p_bpcode: rowData["customer_code"],
                            p_bpname: rowData["customer_name"],
                            p_item_code: p_item_code
                        }); // 選択された取引先名を引数に渡す
                    } else {
                        console.warn("rowDataが取得できませんでした。");
                    }
                });
            })
            .catch(err => alert("売上情報取得失敗:", err)); 
            };

        //* 店舗情報を取得処理 */
        function createview_store_items({p_bpcode, p_bpname, p_item_code}) {

            // コース名とコース担当者名、またはBP名を表示
            let displayLabel = `${p_bpcode} ： ${p_bpname}`;
            document.getElementById("labelArea_layer2").innerHTML = `<label>${displayLabel}</label>`;
            //console.log("p_bpcode=", p_bpcode, "p_bpname=", p_bpname, "p_item_code=", p_item_code, "p_item_name=", p_item_name);
            // APIエンドポイントのパラメータを設定
            let queryParam = `bpcode=${p_bpcode}&item_code=${p_item_code}`;
            

            fetch(`/api/stores?${queryParam}`,{
                method: 'GET',
            })
            .then(async response => {
                const data = await response.json();     
                if (!response.ok) {
                    alert(data.error);
                }
                return data;
            })
            .then(data => {
                // DataTableを初期化
                if ($.fn.DataTable.isDataTable('#dataTable_items_tenpo')) {
                    $('#dataTable_items_tenpo').DataTable().clear().destroy();
                }
                $('#dataTable_items_tenpo').empty();
                const table = $('#dataTable_items_tenpo').DataTable({
                    data: data,
                    columns: [
                        { title: "店舗名", data: "key_and_name"},
                        { title: "返品金額", data: "return_amount" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "返品数量", data: "return_quantity" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "純売金額", data: "net_sales_amount" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "純売数量", data: "net_sales_quantity" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "納品金額", data: "delivery_amount" ,render: $.fn.dataTable.render.number(',', '.', 0)},
                        { title: "納品数量", data: "delivery_quantity" ,render: $.fn.dataTable.render.number(',', '.', 0)}
                    ],
                    scrollY: '400px',
                    scrollX: true,
                    scrollCollapse: true,
                    paging: false
                });
            })
            .catch(err => alert("店舗情報取得失敗:", err)); 
            }

        initialize(); 

        // ブラウザを閉じる時の処理
        window.addEventListener('beforeunload', function() {
            // APIを呼び出してグローバル変数を初期化
            fetch('/api/clear', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .catch(err => console.error('初期化処理でエラーが発生しました:', err));
        });
    </script>

</body>
</html>
